.o_calendar_color_0 {
    --fc-event-bg-color: #E4E4E4;
    --fc-event-border-color: #E4E4E4;
}

.o_calendar_color_1 {
    --fc-event-bg-color: #F06050;
    --fc-event-border-color: #F06050;
}

.o_calendar_color_2 {
    --fc-event-bg-color: #F4A460;
    --fc-event-border-color: #F4A460;
}

.o_calendar_color_3 {
    --fc-event-bg-color: #F7CD1F;
    --fc-event-border-color: #F7CD1F;
}

.o_calendar_color_4 {
    --fc-event-bg-color: #6CC1ED;
    --fc-event-border-color: #6CC1ED;
}

.o_calendar_color_5 {
    --fc-event-bg-color: #814968;
    --fc-event-border-color: #814968;
}

.o_calendar_color_6 {
    --fc-event-bg-color: #EB7E7F;
    --fc-event-border-color: #EB7E7F;
}

.o_calendar_color_7 {
    --fc-event-bg-color: #2C8397;
    --fc-event-border-color: #2C8397;
}

.o_calendar_color_8 {
    --fc-event-bg-color: #475577;
    --fc-event-border-color: #475577;
}

.o_calendar_color_9 {
    --fc-event-bg-color: #D6145F;
    --fc-event-border-color: #D6145F;
}

.o_calendar_color_10 {
    --fc-event-bg-color: #30C381;
    --fc-event-border-color: #30C381;
}

.o_calendar_color_11 {
    --fc-event-bg-color: #9365B8;
    --fc-event-border-color: #9365B8;
}
